<html>
  <head>
    <title>Booktrade App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/angularFactories.js"></script>
    <script src="/javascripts/angularCtrls.js"></script>
  </head>
  <body ng-app="myApp">
    <!--<div class="col-md-3 left-side" ng-controller="NavCtrl">-->
    <!--  <div class="links" >-->
    <!--    <ul class="nav navbar-nav navbar-left">-->
    <!--      <li ng-show="currentUser"><a ng-href="/#/profile">{{ currentUser }}</a></li>-->
    <!--    </ul>-->
    <!--    <ul class="nav navbar-nav navbar-right">-->
    <!--      <li class="text-right" ng-show="currentUser"><a href="" ng-click="logOut()">Log Out</a></li>-->
    <!--      <li class="text-right" ng-hide="currentUser"><a ng-href="/auth/twitter">Log In</a></li>-->
    <!--    </ul>-->
    <!--  </div>-->
    <!--  <div class="ctext text-center">-->
    <!--    <h1 >PintClone</h1>-->
    <!--  </div>-->
    <!--  <div class="imgpostbutton text-center">-->
    <!--    <button ng-show="currentUser">Post Image</button>-->
    <!--  </div>-->
    <!--</div>-->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
    	<div class="navbar-header">	
    		<div class="navbar-brand"><a href="#/home">PintClone</a></div>
    	</div>
        <ul class="nav navbar-nav navbar-right" ng-controller="NavCtrl">
            <li ><a ng-href="/#/polls">All</li>
            <li ng-show="user[0]"><a ng-href="/#/newimage">New Img/link</a></li>
            <li ng-show="user[0]"><a ng-href="/#/profile">{{ user[0]}}</a></li>
            <li ng-show="user[0]"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="user[0]"><a ng-href="/auth/twitter">Log In</a></li>
          </ul>
      </div>
    </div>
      <ui-view></ui-view>
  </body>
</html>