<html>
  <head>
    <title>Booktrade App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="myApp">
    <div class="col-md-3 left-side">
      <div class="links"ng-controller="NavCtrl">
        <ul class="nav navbar-nav navbar-left">
          <li ng-show="isLoggedIn()"><a ng-href="/#/profile">{{ currentUser() }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="text-right" ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
          <li class="text-right" ng-hide="isLoggedIn()"><a ng-href="/auth/twitter">Log In</a></li>
        </ul>
      </div>
      <div class="ctext text-center">
        <h1>PintClone</h1>
      </div>
      <div class="imgpostbutton text-center">
        <button>Post Image</button>
      </div>
    </div>
    <div class="col-md-9">
      <ui-view></ui-view>
    </div>
  </body>
</html>