<html>
  <head>
    <title>PintClone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
  </head>
  <body ng-app="myApp">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
      	<div class="navbar-header">	
      		<div class="navbar-brand"><a href="#/home">PintClone</a></div>
      	</div>
      	  <ul class="nav navbar-nav navbar-right" ng-controller="NavCtrl">
          <li ng-show="user[0]"><a ng-href="/#/newimage">New Pin</a></li>
          <li ng-show="user[0]"><a ng-href="/#/profile">{{ user[0]}}</a></li>
          <li ng-show="user[0]"><a href="#" ng-click="logOut()">Log Out</a></li>
          <li ng-hide="user[0]"><a ng-href="/auth/twitter">Log In</a></li>
        </ul>
      </div>
    </div>
    
    <div class="container">
      <ui-view></ui-view>
    </div>
      
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/masonry.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/angularFactories.js"></script>
    <script src="/javascripts/angularCtrls.js"></script>
    <script src="/javascripts/custom.js"></script>
  </body>
</html>