.jcont {padding: 40px; margin-top: -30px; background: #4183D7; color: #d3d3d3;}
.fa-book { font-size: 6em; padding-bottom: 20px; }
.left-side {background: #3498DB; height: 100%;}
.ctext { height: 20%; margin-top: 80%; }
.imgpostbutton button {  border: 2px solid black; padding: 13px; background: #d3d3d3; border-radius: 6px;}
.allimages {background: red; }
.imgz {width: 33%; display: inline-block;}