.imgpostbutton button {  border: 2px solid black; padding: 13px; background: #d3d3d3; border-radius: 6px;}
.allimages {background: red; }
.grid { position:relative; display: inline-block;}
.grid .grid-item { width: 260px; display: inline-block; position:relative; margin-left: 20px;}
.grid .grid-item img { width: 96%; margin: auto;}
.grid-item span { position: absolute; top: 20px; right: 20px; }
.fa-thumbs-up {margin-left: 8px;   padding: 3px;}
.newimgform input { margin-top: 6px; }
.newimgform button { margin-top: 6px; }
.imguname { position: absolute; bottom:0; right:0; margin: 0 5px 5px 0; }