<div class="container">
  <div class="col-md-6 col-md-offset-3 text-center">
      <h3>New Img/link</h3>
      <form class="form-group" ng-submit="createNewImg(imgtitle,desc,imgurl)">
          <input type="text" class="form-control" placeholder="title" ng-model="imgtitle">
          <input type="text" class="form-control" placeholder="decription" ng-model="desc">
          <input type="text" class="form-control" placeholder="url" ng-model="imgurl">
          <button type="submit" class="btn btn-primary form-control" >Create Img/link</button>
      </form>
  </div>
</div>